<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumer_Key</key>
	<string>brxVGAwyMPlHBjTWJ287ZEeFF</string>
	<key>consumer_Secret</key>
	<string>1o840Z3CYT1YlYCavKxJy8o97mfOFzazT41ImI3gx8kSG2QNi6</string>
</dict>
</plist>
